.name {
    text-align: center;
}

.footer {
   display:flex;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    background: #ccc;
}

.pageContentWrapper{
  margin-bottom:100px;/* Height of footer*/
} 

.header{
    text-align:center;
}

